 Volume in drive C is Windows8_OS
 Volume Serial Number is 5881-BE2B

 Directory of C:\Users\kacpe.DESKTOP-0CG0B39\Desktop\sort

18.10.2019  18:03    <DIR>          .
18.10.2019  18:03    <DIR>          ..
18.10.2019  18:02               415 .eslintrc.json
18.10.2019  18:03                 0 .prettierrc
18.10.2019  18:02               218 package.json
               3 File(s)            633 bytes
               2 Dir(s)  607ÿ402ÿ209ÿ280 bytes free
